<h1>Create New Book</h1>
@model Book
<form asp-action="Update" method="post">
    <div>
        <label asp-for="Id" class="control-label">Id:</label>
        <input type="number" asp-for="Id" class="form-control" readonly="readonly" />
    </div>
    <div>
        <label asp-for="Name" class="control-label">Name:</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div>
        <label asp-for="Author" class="control-label">Author:</label>
        <input type="text" asp-for="Author" class="form-control" />
    </div>
    <div>
        <label asp-for="Price" class="control-label">Price:</label>
        <input type="text" asp-for="Price" class="form-control" />
    </div>
    <div>
        <label asp-for="BookType" class="control-label">BookType:</label>
        <input type="radio" asp-for="BookType" value="E" />Ebook
        <input type="radio" asp-for="BookType" value="H" />Hard Copy
    </div>
    <div>
        <label asp-for="Publication">Publication:</label>
        <select asp-for="Publication">
            <option value="">Select Publication</option>
            <option value="BPB">BPB</option>
            <option value="Wrox">Wrox</option>
            <option value="TMH">TMH</option>
        </select>
    </div>
    <div>
        <input type="submit" />
        <input type="Reset" />
    </div>

</form>
